<div class="container">

    <div class="grid-data"></div>

{#
    {% for message in messages %}
        <div class="row">
            <div class="col-sm-4">
                {{ message.name }}
            </div>
            <div class="col-sm-4">
                {{ message.phone }}
            </div>
            <div class="col-sm-4">
                {{ message.email }}
            </div>
            <div class="col-sm-12">
                {{ message.text }}
            </div>
        </div>
    {% endfor %}
#}
</div>