<div class="container">

{#
    <div>
        <div class='row'>
            <div class="col-4">
                <div class="col-12">
                    Eleazar Kihn
                </div>
                <div class="col-12">
                    0689114444
                </div>
                <div class="col-12">
                    corkery.verdie@gutkowski.com
                </div>
            </div>
            <div class="col-8">
                <div class="col-12">
                    Quam possimus et rerum voluptas molestiae ipsa in. Ut aut qui nihil fugiat. Aspernatur alias voluptatum ipsum numquam similique non.
                </div>
            </div>
        </div>
    </div>
#}
    <div class="grid-data"></div>


</div>